<html lang="en">
<head>
    <title>Flashflood</title>
    <link rel="icon" href="flashflood.ico">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://go.fficaas.net/ffal.js"></script>
    <script src="levenshtein.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-simple-spinner@1.2.10/dist/vue-simple-spinner.min.js"></script>
    <link rel="stylesheet" href="flashflood.css"/>
    <script src="flashflood-constants.js"></script>
    <script src="flashflood.js"></script>
</head>
<body>
<!--  -
Save to csv
Disable form on working and checked
ìmplement core product control


implement hardcoded product
implement checkbox override
implement tenand id formula?
retrieve orgid and tenants for created orgs
maxEntries banks minmax
-->
<div id="app">

    <div v-if="ffal" class="grid-container">

        <div class="Table-buttons">
            <div v-if="fields.length">
                <button @click="saveResult" v-if="checked">Save Result</button>
                <button @click="saveOutput">Save Output</button>
            </div>
        </div>
        <div class="Page-buttons">
            <b style="color: #45297a; font-size: 200%">{{env}}</b> -
        </div>
        <div class="main-table">
            <div class="orig-table" v-if="fields.length"></div>
            <div class="customer-table" v-if="fields.length">
                <ff-customer v-for="customer in customers" :key="customer.ffid" :customer="customer"></ff-customer>
            </div>
        </div>
        <div class="main-form">
            <label class="text-reader" v-if="!fields.length">
                Read File
                <input type="file" @change="loadCsv">
            </label>
            <hr v-if="!fields.length">
            <div v-if="fields.length">
                <ff-field-config v-for="(_, prop) in fieldsConfig" :key="prop" :field="prop"
                                 :fields-config="fieldsConfig" :fields="fields"></ff-field-config>


                <div class="form-elt">
                    <button @click="loadFfdc"
                            :disabled="checked || fieldsConfig.orgName || fieldsConfig.product">Check
                    </button>
                    <span v-if="checked">Check complete</span>
                </div>

                <hr>
                <div v-if="checked">
                    <hr>
                    <ff-step-config v-for="(_,prop) in processConfig.steps" :key="prop"
                                    steps-config="processConfig.steps" :step="prop"></ff-step-config>
                    <hr>
                    <div class="form-elt">
                        <label for="maxEntries">Max entries</label>
                        <input type="text" id="maxEntries" v-model="processConfig.maxEntries">
                    </div>

                    <div class="form-elt">
                        <button @click="process" :disabled="processConfig.maxEntries<=0 || processComplete || working">
                            Go!
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="console" id="logdiv">
            {{logtext}}
        </div>
    </div>
</div>
<script>
    Vue.component('ff-field-config', {
        props: ['field', 'fieldsConfig', 'fields'],
        template: `
          <div class="form-elt">
          <label :for="field">{{ field }}</label>
          <select :name="field" id="field" v-model="fieldsConfig[field]">
            <option v-for="f in fields">{{ f }}</option>
          </select>
          </div>
        `,

    });
    Vue.component('ff-step-config', {
        props: ['step', 'stepsConfig', 'fields'],
        template: `
          <div class="form-elt">
          <input type="checkbox" :id="step" v-model="stepsConfig[step]">
          <label :for="step">{{ step }}</label>
          </div>
        `,

    });
    Vue.component('ff-customer', {
        props: ['customer', 'pageState', 'fieldsConfig',],
        template: `
          <div class="grid-entry-container" style="margin:5px; border: 1px solid #4a8df8">
          <input type="checkbox" :id="'cb-'+ customer.ffid" v-model="forceCheck">
          <label :for="'cb-'+ customer.ffid">Force process</label>
          <vue-simple-spinner size="tiny" message="Checking..."></vue-simple-spinner>
          <div v-for="(_, prop) in fieldsConfig" :key="prop">{{ prop }}:{{ customer.get(prop) }}</div>
          </div>
        `,
        data() {
            return {
                forceCheck: false,
            };
        },
    });
    new Vue({
        el: '#app',
        data() {
            return {
                env: ENV,
                ffal: null,
                logtext: 'Welcome on flashflood console\n',
                fields: [],
                customers: [],
                ffdc: {
                    tenants: [],
                    organizations: []
                },
                fieldsConfig: {
                    orgId: undefined,
                    orgName: undefined,
                    uatTenantId: undefined,
                    prodTenantId: undefined,
                    emails: undefined,
                    skip: undefined,
                    coreProducts: undefined,
                },
                processConfig: {
                    steps: {
                        createOrganization: false,
                        createUatTenant: false,
                        createProdTenant: false,
                        createRouting: false,
                        createUser: false,
                        attachTenant: false,
                        attachRouting: false,
                        attachUser: false,
                    },

                    maxEntries: 0,
                },
                checked: false,
                working: false,
                processComplete: false,
                hideSynthetic: false,
            }
        },
        async created() {
            this.ffal = await FFAL.login("ffdc", "employee");

        },
        computed: {
        },
        methods: {
            loadCsv(ev) {
                this.checked = false;
                const file = ev.target.files[0];
                Papa.parse(file, {
                    header: true,
                    encoding: "windows-1252",
                    skipEmptyLines: true,
                    complete: r => {
                        this.fields = r.meta.fields;
                        this.customers = r.data.map((fileEntry, ffid) => (new Customer(ffid, fileEntry, this.fieldsConfig)));
                        this.log(`Loaded csv file. ${this.customers.length} banks, ${this.fields.length} fields`)
                    }
                });
            },
            log(msg) {
                this.logtext = new Date().toISOString().replaceAll(/.*T/g, "") + " - " + msg + '\n' + this.logtext
            },
            async post(api, data) {
                return this.putPost('POST', api, data);
            },
            async put(api, data) {
                return this.putPost('PUT', api, data);
            },
            async putPost(method, api, data) {
                const body = JSON.stringify(data);
                this.log(`${method}ting on ${api}. data:${body}`)
                const headers = {'Content-Type': 'application/json'};
                const req = {method, headers, body};
                return this.fetch(api, req);
            },
            async fetch(api, req) {
                this.log("calling " + api)
                const resp = await this.ffal.fetch(api, req);
                this.log("received response for " + api + ":" + resp.status + " = ff-trace-id = " + resp.headers.get("ff-trace-id"));
                if (resp.status >= 400) {
                    const jreq = req ? req : {};
                    throw (`Fetch error (${resp.status}) while calling ${api}, ${JSON.stringify(jreq)}`)
                }
                return resp.json();
            },
            loadFfdc() {
                this.working = true;
                this.log("Loading ffdc data...")
                const p1 = this.loadAll(`${TENANT_MGT_API}/tenants`, [], 1)
                    .then(items => this.ffdc.tenants = items.map(this.normalizeTenant));
                const p2 = this.loadAll(`${ORG_ADMIN_API}/organizations`, [], 1)
                    .then(items => this.ffdc.organizations = items.map(this.normalizeOrg));
                Promise.all([p1, p2]).then(this.checkFile)
            },
            relevantName: s => s.toLowerCase()
                .replaceAll(/\bcu\b/g, "credit union")
                .replaceAll(/^fi /g, "")
                .replaceAll(/\bfcu\b/g, "federal credit union")
                .replaceAll("&", "and")
                .replaceAll(" ", ""),

            normalizeTenant(tenant) {
                return {name: tenant.displayName, id: tenant.name, relevantName: this.relevantName(tenant.name), tenant}
            },
            normalizeOrg(org) {
                return {name: org.displayName, id: org.orgId, relevantName: this.relevantName(org.displayName), org}
            },

            async checkFile() {
                try {
                    this.log(`ffdc data loaded. ${this.ffdc.organizations.length} organizations, ${this.ffdc.tenants.length}  tenants`)
                    this.log("Checking for duplicates...")
                    this.customers.forEach(c=>c.check = this.checkCustomer(c));
                    this.log("##### Duplicate check complete!");
                    this.checked = true;
                } catch (e) {
                    this.log("$$ ERROR - Checking interrupted.");
                    console.log(e);
                    this.log(e.toString());
                }
                this.working = false;
            },
            checkCustomer(customer){
              return{
                  orgCheck:this.checkDuplicate(customer,this.ffdc.organizations, "orgName"),
                  uatTenantCheck: this.checkDuplicate(customer,this.ffdc.tenants, "uatTenantId"),
                  prodTenantCheck: this.checkDuplicate(customer,this.ffdc.tenants, "prodTenantId"),
                  get allChecked(){
                      return this.orgCheck && this.uatTenantCheck && this.prodTenantCheck;
                  }
              }
            },
            checkDuplicate(customer, coll, field) {
                const checkResult = {status: "N/A"};
                const name = customer.get(field);
                const relevantName = this.relevantName(name);

                checkResult.internalDuplicate = this.customers.filter(c => c.get(field) === name && c.ffid !== customer.ffid).some();
                checkResult.closest = LEV.closest(relevantName, coll, o => o.relevantName);
                checkResult.status = this.getDistanceFlag(checkResult.closest.displayName);
                if (checkResult.status === "Duplicate") checkResult.existing = checkResult.mostSim;
                if (checkResult.status === "OK" && !checkResult.internalDuplicate) checkResult.checked = true;

                return checkResult;

            },
            getDistanceFlag(distance) {
                if (distance === 0) return "Duplicate";
                else if (distance < 2) return "Highly suspect";
                else if (distance < 3) return "Suspect";
                else if (distance < 4) return "Slightly suspect";
                else return "OK";
            },
            async attachExistingTenants(bank) {
                this.log(`Getting existing tenants for ${bank.orgCheck.existing.orgId}`)
                this.fetch(`${ORG_ADMIN_API}/organizations/${bank.orgCheck.existing.orgId}/tenants`)
                    .then(j => {
                        bank.existingTenants = j.items;
                        this.log(`Found ${j.items.length} tenants for ${bank.orgCheck.existing.orgId}`)
                    });
            },
            async loadAll(api, items, totalCount) {
                if (items.length >= totalCount) return items;
                const json = await this.fetch(api + "?offset=" + items.length);
                return json._meta
                    ? this.loadAll(api, items.concat(json.items), json._meta.totalCount)
                    : items;
            },
            async process() {
                this.working = true;
                const cfg = this.processConfig;
                const nbEntries = Math.min(cfg.maxEntries, this.banks.length)
                this.log(`Starting processing for max ${nbEntries}....`);
                this.log("processing config : " + JSON.stringify(cfg));
                try {
                    for (let i = 0; i < nbEntries; i++) {
                        const start = new Date();
                        await this.processBank(this.banks[i], cfg);
                        const elapsed = (new Date().getTime() - start) / 1000
                        this.log(`###############################################`);
                        this.log(`###   PROCESSED ${i + 1} of ${nbEntries} (${Math.floor(i * 100 / nbEntries)}%) in ${elapsed}s`)
                        this.log(`###############################################`);

                    }
                    this.log("Processing complete.");
                } catch (e) {
                    this.log("!! ERROR - Processing interrupted.");
                    console.log(e);
                    this.log(e.toString());
                }

                this.processComplete = true;
                this.working = false;
            },
            async processBank(bank, cfg) {
                const displayName = "FI " + bank[this.orgNameField];
                try {
                    this.log(`Processing bank ${displayName}. OrgStatus: ${bank.orgCheck.status};uatTenantCheck: ${bank.uatTenantCheck.status};prodTenantCheck: ${bank.orgCheck.status}`);
                    if (bank.orgCheck.status !== "OK" || bank.uatTenantCheck.status !== "OK" || bank.prodTenantCheck.status !== "OK") {
                        this.log("Skipping since not all statuses OK");
                        return;
                    }
                    if (this.skipField && bank[this.skipField].trim().length) {
                        this.log(`Skipping ${displayName} since its marked for skipping`);
                        return;
                    }
                    if (bank.internalDuplicate) {
                        this.log(`Skipping ${displayName} since it's an internal duplicate`);
                        return;
                    }
                    await this.createOrg(displayName, bank, cfg);
                    await this.createProdTenant(displayName, bank, cfg);
                    await this.createUatTenant(displayName, bank, cfg);
                    await this.createUser(displayName, bank, cfg);
                    this.log(`Processing complete for  ${displayName}.`);
                } catch (e) {
                    this.log(`Error while processing ${displayName}.`);
                    console.log(e);
                    this.log(e.toString());
                }
            },
            async createOrg(displayName, bank, cfg) {
                if (!cfg.createOrg) {
                    this.log("Skipping org creation since it's not selected")
                } else if (!bank.orgCheck.checked) {
                    this.log("Skipping org creation since it did not pass control checks")
                } else {
                    this.log(`Creating org ${displayName};OrgStatus: ${bank.orgCheck.status}`)
                    const orgJson = await this.post(`${ORG_ADMIN_API}/organizations`, {displayName})
                    this.log(`Created organization ${JSON.stringify(orgJson)}`)
                    bank.createdOrg = orgJson;
                }
            },
            async createProdTenant(displayName, bank, cfg) {
                if (!bank.createdOrg && !cfg.attachTenant) {
                    this.log("skipping prodTenant creation since org has not been created && attach tenant not created");
                } else if (!cfg.createProdTenant) {
                    this.log("Skipping prodTenant creation since it's not selected")
                } else if (!bank.prodTenantCheck.checked) {
                    this.log("Skipping prodTenant creation since it did not pass control checks")
                } else if (!bank.createdOrg && !bank.orgCheck.existing) {
                    this.log("Skipping prodTenant creation since org is not known")
                } else {
                    const tenantName = `${displayName} [PROD]`
                    const name = bank[this.prodTenantIdField].toLowerCase();
                    const flavor = "PROD";
                    this.log(`Creating prodTenant for ${displayName};tenantStatus: ${bank.prodTenantCheck.status}`)
                    const json = await this.post(`${TENANT_MGT_API}/tenants`, {displayName: tenantName, name, flavor})
                    this.log(`Created prodTenant ${JSON.stringify(json)}`)
                    bank.createdProdTenant = json;

                    const orgId = bank.createdOrg ? bank.createdOrg.orgId : bank.orgCheck.existing.orgId;
                    this.log(`attaching tenant ${name} for ${displayName};`)
                    await this.put(`${ORG_ADMIN_API}/organizations/${orgId}/tenants/${name}`)
                    this.log(`attached tenant for ${displayName};`)
                    bank.createdProdRouting = 0;
                    if (cfg.createRouting && this.coreProductsField.length && bank[this.coreProductsField].length) {
                        const coreNames = bank[this.coreProductsField].toUpperCase().split(/\s*,\s*/)
                        let coreName;
                        for (coreName of coreNames) {
                            const core = this.cores[this.env].filter(c => c.name === coreName);
                            if (!core.length) {
                                this.log(`Could not find core ${coreName}`);
                            } else {
                                this.log(`creating routing for ${name} on core ${coreName}`);
                                await this.createRouting(displayName, bank, name, core[0].backendInstanceIds["prod"], cfg)
                                bank.createdProdRouting += 1;
                            }
                        }
                    }
                }
            },
            async createUatTenant(displayName, bank, cfg) {

                if (!bank.createdOrg && !cfg.attachTenant) {
                    this.log("skipping uatTenant creation since org has not been created && attach tenant not created");
                } else if (!cfg.createUatTenant) {
                    this.log("Skipping uatTenant creation since it's not selected")
                } else if (!bank.uatTenantCheck.checked) {
                    this.log("Skipping uatTenant creation since it did not pass control checks")
                } else if (!bank.createdOrg && !bank.orgCheck.existing) {
                    this.log("Skipping uatTenant creation since org is not known")
                } else {
                    const tenantName = `${displayName} [UAT]`
                    const name = bank[this.uatTenantIdField].toLowerCase();
                    const flavor = "UAT";
                    this.log(`Creating uatTenant for ${displayName};tenantStatus: ${bank.uatTenantCheck.status}`)
                    const json = await this.post(`${TENANT_MGT_API}/tenants`, {displayName: tenantName, name, flavor})
                    this.log(`Created uatTenant ${JSON.stringify(json)}`)
                    bank.createdUatTenant = json;

                    const orgId = bank.createdOrg ? bank.createdOrg.orgId : bank.orgCheck.existing.orgId;
                    this.log(`attaching tenant ${name} for ${displayName};`)
                    await this.put(`${ORG_ADMIN_API}/organizations/${orgId}/tenants/${name}`)
                    this.log(`attached tenant for ${displayName};`)
                    bank.createdUatRouting = 0;
                    if (cfg.createRouting && this.coreProductsField.length && bank[this.coreProductsField].length) {
                        const coreNames = bank[this.coreProductsField].toUpperCase().split(/\s*,\s*/)
                        let coreName;
                        for (coreName of coreNames) {
                            const core = this.cores[this.env].filter(c => c.name === coreName);
                            if (!core.length) {
                                this.log(`Could not find core ${coreName}`);
                            } else {
                                this.log(`creating routing for ${name} on core ${coreName}`);
                                await this.createRouting(displayName, bank, name, core[0].backendInstanceIds["uat"], cfg)
                                bank.createdUatRouting += 1;
                            }
                        }
                    }
                }
            },
            async createRouting(displayName, bank, tenantId, backendId) {
                this.log(`Creating routing for ${displayName}`);
                await this.put(`${ROUTING_MGT_API}/tenants/${tenantId}/back-ends/${backendId}`, {available: true});
                this.log(`Created routing for ${displayName}`);
            },
            async createUser(displayName, bank, cfg) {

            },
            saveResult() {
                const csv = Papa.unparse(this.bankTable);
                const blob = new Blob([csv], {
                    type: "text/csv;charset=utf-8"
                });
                saveAs(blob, "flashflood_result" + new Date().toISOString().replaceAll(":", ".") + ".csv")
            },
            saveOutput() {

                const blob = new Blob([this.logtext], {
                    type: "text/plain;charset=utf-8"
                });

                saveAs(blob, "flashflood-log-" + new Date().toISOString().replaceAll(":", ".") + ".txt");
            },
        }
    })

</script>
</body>
</html>
