<html lang="en">
<head>
    <title>Flashflood</title>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <!--    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">-->
    <!--    <link rel="stylesheet" href="https://unpkg.com/vue-material@1.0.0-beta-15/dist/vue-material.min.css">-->
    <!--    <link rel="stylesheet" href="https://unpkg.com/vue-material@1.0.0-beta-15/dist/theme/default.css">-->
    <!--    <script src="https://unpkg.com/vue-material@1.0.0-beta-15/dist/vue-material.min.js"></script>-->
    <script src="https://lobdev.fficaas.net/ffal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fast-levenshtein@3.0.0/levenshtein.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"
            integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA=="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="app">

    <div v-if="ffal">
        <a href="#" onclick="FFAL.logout()">Sign Out</a>
        <p>{{ffal.user.displayName}}</p>
        <label class="text-reader">
            Read File
            <input type="file" @change="loadCsv">
        </label>
        <p v-if="fields.length">
        <table>
            <thead>
            <tr>
                <th v-for="f in fields">{{f}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bank in banks">
                <td v-for="f in fields">
                    {{bank[f]}}
                </td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>
<script>

    //Vue.use(VueMaterial.default)


    new Vue({
        el: '#app',
        data() {
            return {
                ffal: null,
                fields: [],
                banks: [],
                ffdc:{
                    tenants: [],
                    organizations:[]
                }
            }
        },
        computed: {},
        async created() {
            this.ffal = await FFAL.login("ffdc", "employee");
        },
        methods: {
            loadCsv(ev) {
                const file = ev.target.files[0];
                Papa.parse(file, {
                    header: true,
                    encoding: "windows-1252",
                    complete: r => {
                        this.fields = r.meta.fields;
                        this.banks = r.data;
                        this.loadFfdc()
                    }
                });
            },
            loadFfdc() {
                const p1= this.loadAll("tenant-management/v1/tenants",[],1).then(items => this.ffdc.tenants = items);
                const p2=this.loadAll("org-admin/v1/organizations",[],1).then(items => this.ffdc.organizations = items);
                Promise.all([p1,p2]).then(this.checkFile)
            },
            checkFile(){
                console.log("checking");
            },
            async loadAll(api, items, totalCount) {
                if (items.length >= totalCount) return items;
                const json = (await fetch(api + "?offset=" + items.length())).json();
                return this.loadAll(api, items.concat(json.items), json._meta.totalCount)
            },
        }
    })


    // (async () => {
    //     const set = (id, t) => document.getElementById(id).innerText = t;
    //     this.ffal = await FFAL.login("ffdc", "employee");
    //     set("info", `${ffal.user.name} (on ${ffal.user.tenant}/${ffal.user.idp})`);
    //     document.getElementById("actions").style.display = "inline"
    //     const json = await ffal.fetch(apis[ffal.user.idp]).then(r=>r.json()).catch(error => ({error}));
    //     set("resp-data", JSON.stringify(json, null, 2))
    // })();
</script>
</body>
</html>
