<html lang="en">
<head>
    <title>Flashflood</title>
    <link rel="icon" href="flashflood.ico">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://go.fficaas.net/ffal.js"></script>
    <script src="levenshtein.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="flashflood.css"/>
</head>
<body>

<div id="app">

    <div v-if="ffal" class="grid-container">

        <div class="Table-buttons">
            <div v-if="fields.length">
                <input type="checkbox" id="hideSynthetic" v-model="hideSynthetic">
                <label for="hideSynthetic">Hide Synthetic columns</label>
                <button @click="saveResult">Save Result</button>
                <button @click="saveOutput">Save Output</button>
            </div>
        </div>
        <div class="Page-buttons">
            <b>PREPROD</b> -
            <button onclick="FFAL.logout()">Sign Out</button>
        </div>
        <div class="main-table">
            <table v-if="fields.length">
                <thead>
                <tr>
                    <th class="synthetic" v-if="!hideSynthetic">ffid</th>
                    <template v-if="!hideSynthetic && checked ">
                        <th class="synthetic" v-if="orgNameField">org status</th>
                        <th class="synthetic" v-if="orgNameField">closest org</th>
                        <th class="synthetic" v-if="prodTenantIdField">prod tenant status</th>
                        <th class="synthetic" v-if="prodTenantIdField">closest prod Tenant</th>
                        <th class="synthetic" v-if="uatTenantIdField">uat tenant status</th>
                        <th class="synthetic" v-if="uatTenantIdField">closest uat Tenant</th>
                    </template>
                    <th v-for="f in fields">{{f}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bank in banks" :key="bank.ffid">
                    <td class="synthetic" v-if="!hideSynthetic">{{bank.ffid}}</td>
                    <template v-if="!hideSynthetic && checked ">
                        <template v-if="bank.orgCheck!==undefined ">
                            <td class="synthetic">{{bank.orgCheck.status}}</td>
                            <td class="synthetic">
                                <span v-if="bank.orgCheck.status!=='OK' && bank.orgCheck.mostSim"
                                      style="font-size: 80%">
                                    ({{bank.orgCheck.mostSim.distance}}){{bank.orgCheck.mostSim.displayName}}
                                </span>
                            </td>
                        </template>
                        <template v-if="bank.uatTenantCheck!==undefined ">
                            <td class="synthetic">{{bank.uatTenantCheck.status}}</td>
                            <td class="synthetic">
                                <span v-if="bank.uatTenantCheck.status!=='OK' && bank.uatTenantCheck.mostSim"
                                      style="font-size: 80%">
                                    ({{bank.uatTenantCheck.mostSim.distance}}){{bank.uatTenantCheck.mostSim.name}}
                                </span>
                            </td>
                        </template>
                        <template v-if="bank.prodTenantCheck!==undefined ">
                            <td class="synthetic">{{bank.prodTenantCheck.status}}</td>
                            <td class="synthetic">
                                <span v-if="bank.prodTenantCheck.status!=='OK' && bank.prodTenantCheck.mostSim"
                                      style="font-size: 80%">
                                    ({{bank.prodTenantCheck.mostSim.distance}}){{bank.uatTenantCheck.mostSim.name}}
                                </span>
                            </td>
                        </template>
                    </template>
                    <td v-for="f in fields">
                        {{bank[f]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="main-form">
            <label class="text-reader">
                Read File
                <input type="file" @change="loadCsv">
            </label>
            <hr>
            <div v-if="fields.length">
                <div class="form-elt">
                    <label for="orgIdField">OrgId Field</label>
                    <select name="orgIdField" id="orgIdField" v-model="orgIdField">
                        <option v-for="f in fields">{{f}}</option>
                    </select>
                </div>
                <div class="form-elt">
                    <label for="orgNameField">Org Name Field</label>
                    <select name="orgNameField" id="orgNameField" v-model="orgNameField">
                        <option value="formula">Formula...</option>
                        <option v-for="f in fields">{{f}}</option>
                    </select>
                </div>
                <div v-if="orgNameField === 'formula'" class="form-elt">
                    <label for="orgNameFormula">OrgName Formula</label>
                    <input type="text" id="orgNameFormula" v-model="orgNameFormula">
                </div>
                <hr>
                <div class="form-elt">
                    <label for="prodTenantIdField">PROD Tenant id Field</label>
                    <select name="prodTenantIdField" id="prodTenantIdField" v-model="prodTenantIdField">
                        <option value="formula">Formula...</option>
                        <option v-for="f in fields">{{f}}</option>
                    </select>
                </div>
                <div v-if="prodTenantIdField === 'formula'" class="form-elt">
                    <label for="prodTenantIdFormula">PROD Tenant id Formula</label>
                    <input type="text" id="prodTenantIdFormula" v-model="prodTenantIdFormula">
                </div>
                <div class="form-elt">
                    <label for="uatTenantIdField">UAT Tenant id Field</label>
                    <select name="prodTenantIdField" id="uatTenantIdField" v-model="uatTenantIdField">
                        <option value="formula">Formula...</option>
                        <option v-for="f in fields">{{f}}</option>
                    </select>
                </div>
                <div v-if="uatTenantIdField === 'formula'" class="form-elt">
                    <label for="uatTenantIdFormula">UAT Tenant id Formula</label>
                    <input type="text" id="uatTenantIdFormula" v-model="uatTenantIdFormula">
                </div>
                <hr>
                <div class="form-elt">
                    <label for="userEmailField">User Email Field</label>
                    <select name="userEmailField" id="userEmailField" v-model="userEmailField">
                        <option v-for="f in fields">{{f}}</option>
                    </select>
                </div>
                <div class="form-elt">
                    <button @click="loadFfdc" :disabled="checked || orgNameField.length ===0">Check</button>
                    <span v-if="checked">Check complete</span>
                </div>

                <hr>
                <div v-if="checked">
                    <hr>
                    <div class="form-elt">
                        <input type="checkbox" id="createOrg" v-model="processConfig.createOrg">
                        <label for="createOrg">Create Organizations</label>
                    </div>
                    <div class="form-elt">
                        <input type="checkbox" id="createUatTenant" v-model="processConfig.createUatTenant">
                        <label for="createUatTenant">Create UAT Tenants</label>
                    </div>
                    <div class="form-elt">
                        <input type="checkbox" id="createProdTenant" v-model="processConfig.createProdTenant">
                        <label for="createProdTenant">Create PROD Tenants</label>
                    </div>
                    <div class="form-elt">
                        <input type="checkbox" id="createRouting" v-model="processConfig.createRouting">
                        <label for="createRouting">Weave routing</label>
                    </div>
                    <div class="form-elt">
                        <input type="checkbox" id="createUser" v-model="processConfig.createUser">
                        <label for="createUser">Create Users</label>
                    </div>
                    <hr>
                    <div class="form-elt">
                        <input type="checkbox" id="attachTenant" v-model="processConfig.attachTenant">
                        <label for="attachTenant">Attach tenants to pre-existing org</label>
                    </div>
                    <div class="form-elt">
                        <input type="checkbox" id="attachRouting" v-model="processConfig.attachRouting">
                        <label for="attachRouting">Weave routing for pre-existing tenant</label>
                    </div>
                    <div class="form-elt">
                        <input type="checkbox" id="attachUser" v-model="processConfig.attachUser">
                        <label for="attachUser">Attach users to pre-existing org</label>
                    </div>
                    <hr>
                    <div class="form-elt">
                        <label for="maxEntries">Max entries</label>
                        <input type="text" id="maxEntries" v-model="processConfig.maxEntries">
                    </div>
                    <div class="form-elt">
                        <label for="selectedCore">Core Product</label>
                        <select name="selectedCore" id="selectedCore" v-model="processConfig.selectedCore">
                            <option v-for="c in cores">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="form-elt">
                        <label for="confidenceLevel">Confidence Level</label>
                        <select name="confidenceLevel" id="confidenceLevel" v-model="processConfig.confidenceLevel">
                            <option v-for="s in statuses">{{s}}</option>
                        </select>
                    </div>
                    <div class="form-elt">
                        <button @click="process" :disabled="processConfig.maxEntries<=0">Go!</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="console" id="logdiv">
            <div v-for="l in logtext">{{l}}</div>
        </div>
    </div>
</div>
<script>
    const ORG_ADMIN_API = "org-admin/v1"
    const TENANT_MGT_API = "tenant-management/v1"
    const ROUTING_MGT_API = "routing-management/v1"

    new Vue({
        el: '#app',
        data() {
            return {
                ffal: null,
                logtext: ['Welcome on flashflood console'],
                fields: [],
                banks: [],
                ffdc: {
                    tenants: [],
                    organizations: []
                },
                orgIdField: "",
                orgNameField: "",
                orgNameFormula: "",
                prodTenantIdField: "",
                prodTenantIdFormula: "",

                uatTenantIdField: "",
                uatTenantIdFormula: "",
                tenantNameField: "",
                userEmailField: "",
                cores: [
                    {name: "MortgageBot LOS", backendInstanceIds: {uat:"acc5e3c6-223f-49c1-9f0b-2635dc3fddce", prod:"acc5e3c6-223f-49c1-9f0b-2635dc3fddce"}},
                    {name: "MortgageBot POS", backendInstanceIds: {uat:"acc5e3c6-223f-49c1-9f0b-2635dc3fddce", prod:"acc5e3c6-223f-49c1-9f0b-2635dc3fddce"}},
                    {name: "Malauzai", backendInstanceIds: {uat:"acc5e3c6-223f-49c1-9f0b-2635dc3fddce", prod:"acc5e3c6-223f-49c1-9f0b-2635dc3fddce"}},
                ],
                checked: false,
                processConfig: {
                    createOrg: false,
                    createUatTenant: false,
                    createProdTenant: false,
                    createRouting: false,
                    createUser: false,
                    attachTenant: false,
                    attachRouting: false,
                    attachUser: false,
                    maxEntries: 0,
                    confidenceLevel: "OK",
                    selectedCore: null
                },
                hideSynthetic: false,
                statuses: ["OK", "Slightly Suspect", "Suspect", "Very Suspect", "Highly Suspect"],
            }
        },
        computed: {},
        async created() {
            this.ffal = await FFAL.login("ffdc", "employee");
            setInterval(() => {
                const elem = document.getElementById('logdiv');
                if (elem) elem.scrollTop = elem.scrollHeight
            }, 200)
        },
        methods: {
            loadCsv(ev) {
                this.checked = false;
                const file = ev.target.files[0];
                Papa.parse(file, {
                    header: true,
                    encoding: "windows-1252",
                    skipEmptyLines: true,
                    complete: r => {
                        this.fields = r.meta.fields;
                        this.banks = r.data.map((b, ffid) => ({ffid, ...b, ffstatus: "unchecked"}));
                        this.log(`Loaded csv file. ${this.banks.length} banks, ${this.fields.length} fields`)
                    }
                });
            },
            log(msg) {
                this.logtext.push(msg)
            },
            async post(api, data) {
                const body = JSON.stringify(data);
                this.log(`Posting on ${api}. data:${body}`)
                const headers = {'Content-Type': 'application/json'};
                const req = {method: 'POST', headers, body};
                return this.fetch(api, req);
            },
            async put(api, data) {
                const body = JSON.stringify(data);
                this.log(`Putting on ${api}. data:${body}`)
                const headers = {'Content-Type': 'application/json'};
                const req = {method: 'PUT', headers, body};
                return this.fetch(api, req);
            },
            async fetch(api, req) {
                this.log("calling " + api)
                const resp = await this.ffal.fetch(api, req);
                this.log("received response for " + api + ":" + resp.status + " = ff-trace-id = " + resp.headers.get("ff-trace-id"));
                return resp.json();
            },
            loadFfdc() {
                this.log("Loading ffdc data...")
                const p1 = this.loadAll(`${TENANT_MGT_API}/tenants`, [], 1).then(items => this.ffdc.tenants = items);
                const p2 = this.loadAll(`${ORG_ADMIN_API}/organizations`, [], 1).then(items => this.ffdc.organizations = items);
                Promise.all([p1, p2]).then(this.checkFile)
            },
            checkFile() {
                this.log(`ffdc data loaded. ${this.ffdc.organizations.length} organizations, ${this.ffdc.tenants.length}  tenants`)
                this.log("Checking for duplicates...")
                this.banks.forEach(b => b.orgCheck = this.checkBank(b, this.orgNameField, this.ffdc.organizations, i => i.displayName));
                this.banks.forEach(b => b.prodTenantCheck = this.checkBank(b, this.prodTenantIdField, this.ffdc.tenants, i => i.name));
                this.banks.forEach(b => b.uatTenantCheck = this.checkBank(b, this.uatTenantIdField, this.ffdc.tenants, i => i.name));
                //this.banks.sort((b1, b2) => b1.orgCheck.relDist - b2.orgCheck.relDist);
                this.log("Duplicate check complete!");
                this.banks.filter(b => b.orgCheck.existing).forEach(b => this.attachExistingTenants(b))
                this.checked = true;
            },
            checkBank(bank, nameField, coll, nameAccessor) {
                if (nameField === undefined || nameField.length === 0) return undefined;
                const name = bank[nameField];
                const checkResult = {nameField, name, nameAccessor};
                const relevant = s => s.toLowerCase().replaceAll(/ ?bank/g, "").replaceAll(/ ?union/g, "");

                if (name === undefined || name.length === 0) {
                    checkResult.status = "N/A";
                } else {
                    const relevantName = relevant(name);
                    checkResult.similar = coll
                        .map(o => ({...o, distance: LEV.distance(relevantName, relevant(nameAccessor(o)))}))
                        .sort((s1, s2) => s1.distance - s2.distance);

                    const mostSim = checkResult.similar[0]
                    const reldist = mostSim.distance / relevantName.length;
                    checkResult.relDist = reldist;
                    checkResult.mostSim = mostSim;

                    if (reldist === 0) {
                        checkResult.status = "Duplicate";
                        checkResult.existing = mostSim;
                    } else if (reldist < 0.1) checkResult.status = "Highly suspect";
                    else if (reldist < 0.2) checkResult.status = "Very suspect";
                    else if (reldist < 0.3) checkResult.status = "Suspect";
                    else if (reldist < 0.4) checkResult.status = "Slightly suspect";
                    else {
                        checkResult.status = "OK";
                        checkResult.checked = true;
                    }
                    return checkResult
                }

            },
            async attachExistingTenants(bank) {
                this.log(`Getting existing tenants for ${bank.orgCheck.existing.orgId}`)
                this.fetch(`${ORG_ADMIN_API}/organizations/${bank.orgCheck.existing.orgId}/tenants`)
                    .then(j => {
                        bank.existingTenants = j.items;
                        this.log(`Found ${j.items.length} tenants for ${bank.orgCheck.existing.orgId}`)
                    });
            },
            async loadAll(api, items, totalCount) {
                if (items.length >= totalCount) return items;
                const json = await this.fetch(api + "?offset=" + items.length);
                return this.loadAll(api, items.concat(json.items), json._meta.totalCount)
            },
            async process() {
                const cfg = this.processConfig;
                this.log(`Starting processing for max ${cfg.maxEntries}....`);
                this.log("processing config : " + JSON.stringify(cfg));
                for (let i = 0; i < cfg.maxEntries; i++) {
                    await this.processBank(this.banks[i], cfg);
                }
                this.log("Processing complete.");
            },
            async processBank(bank, cfg) {
                const displayName = bank[this.orgNameField];
                this.log(`Processing bank ${displayName}. OrgStatus: ${bank.orgCheck.status}`);
                await this.createOrg(displayName, bank, cfg);
                await this.createProdTenant(displayName, bank, cfg);
                await this.createUatTenant(displayName, bank, cfg);
                await this.createUser(displayName, bank, cfg);
                this.log(`Processing complete for  ${displayName}.`);
            },
            async createOrg(displayName, bank, cfg) {
                if (!cfg.createOrg) {
                    this.log("Skipping org creation since it's not selected")
                } else if (!bank.orgCheck.checked) {
                    this.log("Skipping org creation since it did not pass control checks")
                } else {
                    this.log(`Creating org ${displayName};OrgStatus: ${bank.orgCheck.status}`)
                    const orgJson = await this.post(`${ORG_ADMIN_API}/organizations`, {displayName})
                    this.log(`Created organization ${JSON.stringify(orgJson)}`)
                    bank.createdOrg = orgJson;
                }
            },
            async createProdTenant(displayName, bank, cfg) {

                if (!cfg.createProdTenant) {
                    this.log("Skipping prodTenant creation since it's not selected")
                } else if (!bank.prodTenantCheck.checked) {
                    this.log("Skipping prodTenant creation since it did not pass control checks")
                } else if (!bank.createdOrg && !bank.orgCheck.existing) {
                    this.log("Skipping prodTenant creation since org is not known")
                } else {
                    const tenantName = `${displayName} [PROD]`
                    const name = bank[this.prodTenantIdField].toLowerCase();
                    const flavor = "PROD";
                    this.log(`Creating prodTenant for ${displayName};tenantStatus: ${bank.prodTenantCheck.status}`)
                    const json = await this.post(`${TENANT_MGT_API}/tenants`, {displayName: tenantName, name, flavor})
                    this.log(`Created prodTenant ${JSON.stringify(json)}`)
                    bank.createdProdTenant = json;

                    const orgId = bank.createdOrg?bank.createdOrg.orgId:bank.orgCheck.existing.orgId;
                    this.log(`attaching tenant ${name} for ${displayName};`)
                    await this.put(`${ORG_ADMIN_API}/organizations/${orgId}/tenants/${name}`)
                    this.log(`attached tenant for ${displayName};`)
                    if (cfg.createRouting){
                        await this.createRouting(displayName, bank, name, cfg.selectedCore.backendInstanceIds["prod"],cfg)
                    }
                }
            },
            async createUatTenant(displayName, bank, cfg) {

                if (!cfg.createUatTenant) {
                    this.log("Skipping uatTenant creation since it's not selected")
                } else if (!bank.uatTenantCheck.checked) {
                    this.log("Skipping uatTenant creation since it did not pass control checks")
                } else if (!bank.createdOrg && !bank.orgCheck.existing) {
                    this.log("Skipping uatTenant creation since org is not known")
                } else {
                    const tenantName = `${displayName} [UAT]`
                    const name = bank[this.uatTenantIdField].toLowerCase();
                    const flavor = "UAT";
                    this.log(`Creating uatTenant for ${displayName};tenantStatus: ${bank.uatTenantCheck.status}`)
                    const json = await this.post(`${TENANT_MGT_API}/tenants`, {displayName: tenantName, name, flavor})
                    this.log(`Created uatTenant ${JSON.stringify(json)}`)
                    bank.createdUatTenant = json;

                    const orgId = bank.createdOrg?bank.createdOrg.orgId:bank.orgCheck.existing.orgId;
                    this.log(`attaching tenant ${name} for ${displayName};`)
                    await this.put(`${ORG_ADMIN_API}/organizations/${orgId}/tenants/${name}`)
                    this.log(`attached tenant for ${displayName};`)
                    if (cfg.createRouting){
                        await this.createRouting(displayName, bank, name, this.selectedCore.backendInstanceIds["uat"],cfg)
                    }
                }
            },
            async createRouting(displayName, bank, tenantId, backendId, cfg) {
                this.log(`Creating routing for ${displayName}`);
                await this.put(`${ROUTING_MGT_API}/tenants/${tenantId}/back-ends/${backendId}`,{available:true});
                this.log(`Created routing for ${displayName}`);

            },
            async createUser(displayName, bank, cfg) {
            },
            saveResult() {
            },
            saveOutput() {
            },
        }
    })

</script>
</body>
</html>
