:root {
    --bg-color: #090909;
    --bg-sec-color:#1B2B0B;
    --bg-thd-color: #101c04;
    --bg-hl-color: black;
    --fg-color: #91c65f;
    --fade-color: #4e6639;
    --hl-color: lawngreen;
    --default-font: Consolas, "Courier New", monospace;
}

*::-webkit-scrollbar-track
{
    background-color: var(--bg-thd-color);
    border-left:1px solid var(--fade-color);
}

*::-webkit-scrollbar
{
    width: 8px;
    background-color: black;
}

*::-webkit-scrollbar-thumb
{
    background-color: var(--fg-color);
    border-radius: 4px;
}



[v-cloak] {
    display: none
}

body {
    font-family: var(--default-font);
    background-color: var(--bg-color);
    color: var(--fg-color);
    padding:0;
    margin:0;
}

h2 {
    border-bottom: 1px solid var(--fade-color);
    background-color: var(--bg-thd-color);
}

table {
    border-collapse: collapse;
    border: 1px solid var(--fade-color);
    width: 100%;
}

table.detail-table, table.detail-table th, table.detail-table td {
    border-color: transparent;
}

table.detail-table th {
    text-align: left;
}

table.detail-table th::after {
    content: " : ";
}

table.detail-table td {
    text-align: left;
}

th {
    border-bottom-width: 2px;
}

td, th {
    border-bottom: 1px solid var(--fade-color);
    text-align: left;
    padding: 1px 5px
}


a, a:visited {
    color: var(--hl-color);
}

a.btn {
    color: var(--bg-color);
    background-color: var(--hl-color);
    border: 1px solid var(--hl-color);
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
}

a.btn:hover {
    color: var(--hl-color);
    background-color: var(--bg-sec-color);
}

select {
    background-color: var(--bg-hl-color);
    border-color: var(--fg-color);
    color: var(--fg-color);
    font-family: var(--default-font);
    padding: 4px 8px;
}

.selectable-data-table tbody tr td:first-child {
    color: var(--hl-color);
    text-decoration: underline;
    cursor: pointer;
}
.selected-row td{
    background-color: var(--bg-sec-color);
}
.selectable-data-table tbody tr.selected-row td:first-child {
    text-decoration: none;
    cursor: pointer;
}
.master-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.master-detail .master {
    grid-area: 1 / 1 / 2 / 2;
}

.master-detail .detail {
    grid-area: 1 / 2 / 2 / 3;
}

#menu {
    border-bottom: 1px solid var(--fg-color);
    padding: 2px 30px 7px 10px;
    margin-bottom: 20px;
    top:0;
    position: fixed;
    width:100%;
    background-color: var(--bg-sec-color);
}

#menu > * {
    vertical-align: middle;
}

#menu > .floated {
    float: right;
    margin-top: 9px;
    margin-right:15px;
}

#menu > .title {
    font-size: 200%;
    margin-right: 20px;
    font-weight: bold;
}

#menu a {
    padding: 0 5px
}

#menu a.router-link-exact-active {
    text-decoration: none;
    background-color: var(--hl-color);
    color: var(--bg-color);
}

#main {
    margin-top:60px;
    padding: 0 20px;
}

.context-chooser {
    margin-bottom: 10px;
}

.context-chooser a {
    padding: 0 5px;
    border: 1px solid transparent;
}

.context-chooser a.active {
    text-decoration: none;
    border-color: var(--hl-color);
}
#profile-page {
    display: grid;
    height:calc(100vh - 70px);
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    max-width:1000px;
    margin:auto;
}
#profile-page>div{
    border:1px solid var(--fade-color);
    overflow: auto;
    position:relative;
}

#profile-page>div>h3{
    border-bottom:1px solid var(--fade-color);
    background-color: var(--bg-thd-color);
    margin:0;
    font-size:1.1em;
    padding:3px 20px;
    position:sticky;
    top:0;
    left:0;
    right:0;
}
#profile-page>div>div{

}
#profile-page>div>div table.bordered{
    border-width: 0px;
    border-color:transparent;
}
#profile-page>div>div table.detail-table{
    margin:4px 10px;
    width:95%;
}
#profile-page #user-details { grid-area: 1 / 1 / 3 / 2; }
#profile-page #bank-details { grid-area: 3 / 1 / 4 / 2; }
#profile-page #access-permissions { grid-area: 4 / 1 / 5 / 2; }
#profile-page #corporate-details { grid-area: 1 / 2 / 2 / 3; }
#profile-page #entities { grid-area: 2 / 2 / 5 / 3; }
